# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-deployment
  labels:
    app: fastapi-app
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: fastapi-app
  template:
    metadata:
      labels:
        app: fastapi-app
    spec:
      containers:
      - name: fastapi-container
        #image: [LOCATION]-docker.pkg.dev/[PROJECT_ID]/[REPOSITORY_NAME]/fastapi-app:[IMAGE_TAG]
        image: us-central1-docker.pkg.dev/democicd-480608/fastapi-repo/test:latest
        ports:
        - containerPort: 8000 
        resources:
          limits:
            memory: "256Mi"
            cpu: "200m"
          requests:
            memory: "128Mi"
            cpu: "100m"